<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>cadastrarProdutoController</display-name>
    <servlet-name>cadastrarProdutoController</servlet-name>
    <servlet-class>controller.cadastrarProdutoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cadastrarProdutoController</servlet-name>
    <url-pattern>/cadastrarProdutoController</url-pattern>
  </servlet-mapping>
  <display-name>Floricultura</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>removerProdutoController</display-name>
    <servlet-name>removerProdutoController</servlet-name>
    <servlet-class>controller.removerProdutoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removerProdutoController</servlet-name>
    <url-pattern>/removerProdutoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editarProdutoController</display-name>
    <servlet-name>editarProdutoController</servlet-name>
    <servlet-class>controller.editarProdutoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editarProdutoController</servlet-name>
    <url-pattern>/editarProdutoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>buscarProdutoController</display-name>
    <servlet-name>buscarProdutoController</servlet-name>
    <servlet-class>controller.buscarProdutoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buscarProdutoController</servlet-name>
    <url-pattern>/buscarProdutoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cadastrarClienteController</display-name>
    <servlet-name>cadastrarClienteController</servlet-name>
    <servlet-class>controller.cadastrarClienteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cadastrarClienteController</servlet-name>
    <url-pattern>/cadastrarClienteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cadastrarCliente2Controller</display-name>
    <servlet-name>cadastrarCliente2Controller</servlet-name>
    <servlet-class>controller.cadastrarCliente2Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cadastrarCliente2Controller</servlet-name>
    <url-pattern>/cadastrarCliente2Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarrinhoController</display-name>
    <servlet-name>CarrinhoController</servlet-name>
    <servlet-class>controller.CarrinhoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarrinhoController</servlet-name>
    <url-pattern>/CarrinhoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RelatorioController</display-name>
    <servlet-name>RelatorioController</servlet-name>
    <servlet-class>controller.RelatorioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RelatorioController</servlet-name>
    <url-pattern>/RelatorioController</url-pattern>
  </servlet-mapping>
</web-app>