@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: #4A0D66;
    color: #fff;
    padding: 10px;
    font-family: Arial, sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.logo {
    text-align: center;
}

.logo-image img {
    width: 100px;
    height: auto;
}

.logo p {
    margin-top: 10px;
    font-size: 1.1em;
    font-weight: 500;
}

.social-media {
    text-align: center;
}

.social-media h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: 600;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icon {
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: color 0.3s;
}

.social-icon img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s;
}

.social-icon:hover img {
    transform: scale(1.1);
}

.social-icon:hover {
    color: #E0AFFF;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .social-icons {
        justify-content: center;
        flex-wrap: wrap;
    }
}